<h1>Sign Up for <img src="/images/ScrapSauce.png" alt="ScrapSauce.png"></h1>

<form action="/signup" method="POST">
	<p><label for="username">Username:  </label><input id="username" type="text" name="username"></p>
	<p><label for="password">Password:&nbsp &nbsp</label><input type="password" type="password" name="password"></p>
	<p><label for="email">Email Ad:&nbsp &nbsp &nbsp</label><input id="email" type="text" name="email"></p>
	<p><input type="submit" value="Sign Up"></p>
</form>

<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>