<h1>Welcome to scrapSauce!</h1>

<h2>Save money by making meals from ingredients you already have lying around!</h2>

<p>Log in, type in what ingredients you want to use, save your recipes, and share them with others.</p>

<p>What're you waiting for?</p>

<h2>Get cooking!</h2>

<a href="/login">Login</a>  <a href="/signup">Sign Up</a>