<!DOCTYPE html>
<html>
<head>
	<title>Scrap Sauce</title>	
</head>
	<link rel="stylesheet" href="<%= url('/styles.css')%>" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
	<script src="modernizr.custom.66464.js"></script>
<body>

	<% if !!@path && @user.id == session[:user_id] %>  <!-- different layouts for different pages -->

	<div class="wrapper2 clearfix">

	<% else %>

	<div class="wrapper clearfix">

	<% end %>

	<%if logged_in? %> 
		<nav><a href="/users/<%=User.find(session[:user_id]).username%>">Home</a> <a href="/logout">| Log Out</a></nav>
	<% else %>
		<nav><a href="/">Home</a> <a href="/login">| Login</a> <a href="/signup">| Sign Up</a></nav>
	<% end %>

	<%= yield %>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../scripts.js"></script>
</body>
</html>